.home-container{
    /* display: flex;
    justify-content: space-between; */
    padding: 1%;
    margin-top: -1%;

    .home{
        height: 85vh;
    }
    .menu{
        height: 85vh;
    }
}
.main-menu{
    width: 132%;
    margin-top: -6%;
    margin-left: -16%;
    font-family: 'Poppina';
}