.Card {
  margin: auto;
  width: 50vw;
  opacity: 0.9;

  .signup {
    display: flex;
    justify-content: center;
    align-items: center;

    .para {
      font-size: 12px;
      font-family: "Poppins";
    }
    .button {
      background-color: white;
      color: blue;
      font-family: "Poppins";
      font-size: 12px;
      text-decoration: underline;
      border: 1px solid white;
    }
  }
}
